<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="main-container">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/blog/create" class="btn btn-primary text-uppercase">Yenİ Bloq Yarat</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="main-card-row-container">
        <div class="row">
            <div th:each="blog : ${blogs}" class="col-3">
                <div class="card">
                    <img th:src="@{'/file/' +${blog.imageCover}}" class="card-img-top" alt="Cover Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${blog.header}"></h5>
                    </div>
                    <div class="card-body text-center">
                        <a th:href="@{{id}(id=${blog.id})}" class="card-link text-uppercase">Ətraflı Məlumat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>