<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="main-container">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/news/create" type="button" class="btn btn-success text-uppercase">Yenİ Xəbər yarat</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-card-row-container">
            <div class="row">
                <div th:each="news : ${newsList}" class="col-3">
                    <div class="card">
                        <img th:src="@{'/file/'+${news.imageCover}}" class="card-img-top" alt="Cover Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${news.header}"></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${news.createdAt}"><b>Tarix: </b></li>
                        </ul>
                        <div class="card-body text-center">
                            <a th:href="@{{id}(id=${news.id})}" class="card-link text-uppercase">Ətraflı Məlumat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>