<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="main-container">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/teamMembers/create" type="button" class="btn btn-success text-uppercase">Yeni member</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-card-row-container">
            <div class="row">
                <div th:each="teamMembers : ${teamMembersList}" class="col-3">
                    <div class="card">
                        <img src="@{'/file/'+${teamMembers.memberImage}}" class="card-img-top" alt="Member Image">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${teamMembers.memberName}"><b>memberName: </b></li>
                            <li class="list-group-item" th:text="${teamMembers.surname}"><b>surname: </b></li>
                            <li class="list-group-item" th:text="${teamMembers.position}"><b>position: </b></li>
                        </ul>
                        <div class="card-body text-center">
                            <a th:href="@{{id}(id=${teamMembers.id})}" class="card-link text-uppercase">Ətraflı Məlumat</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>