<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container">
    <div class="main-container">
        <div class="row">
            <!--/*@thymesVar id="categoryEntity" type="az.webapp.colorbrain.model.entity.CategoryEntity" */-->
            <form action="#" th:object="${categoryEntity}" th:action="@{'/category/create'}" method="post">
                <div th:include="/admin/layout/category/categoryForm::createForm"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>