<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head>
</head>
<body>
<div class="container">
    <div class="main-container">
        <div class="row">
            <!--/*@thymesVar id="blogEntity" type="az.webapp.colorbrain.model.entity.BlogEntity"*/-->
            <form th:object="${blogEntity}" th:action="@{'/blog/update'}" method="post">
                <input type="hidden" name="id" th:value="${blogEntity.id}">
                <div th:include="/admin/layout/blog/blogForm::updateForm"></div>
            </form>

            <a style="color: white" th:href="@{/blog/{id}/files(id=${blogEntity.id})}"
               class="btn btn-warning text-uppercase mb-3">Fayllarda dəyişiklik et</a>

            <form th:object="${blogEntity}" th:action="@{'/blog/delete'}" method="post">
                <input type="hidden" name="id" th:value="${blogEntity.id}">
                <div class="row d-flex justify-content-center">
                    <input type="submit" class="btn btn-danger text-uppercase"
                           th:value="${blogEntity.status}? 'Layihəni ləğv et' : 'Layihəni sil'">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    window.onload = function dateConverter() {
        var createdAtLabel = document.getElementById("createdAtLabel")
        var updatedAtLabel = document.getElementById("updatedAtLabel")

        createdAtLabel.setAttribute("value", createdAtLabel.value.replace("T", " ").substring(0, 16))
        updatedAtLabel.setAttribute("value", updatedAtLabel.value.replace("T", " ").substring(0, 16))
    }
</script>
</body>
</html>