<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container">
    <div class="main-container">
        <div class="row">
            <!--/*@thymesVar id="contactEntity" type="az.webapp.colorbrain.model.entity.ContactEntity" */-->
            <form action="#" th:object="${contactEntity}" th:action="@{'/contact/update'}" method="post">
                <input type="hidden" name="id" th:value="${contact.id}">
                <div th:include="/admin/layout/contact/contactForm::updateForm"></div>
            </form>
        </div>
    </div>
</div>

</body>
</html>