<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container">
    <div class="main-container">
        <div class="row">
            <!--/*@thymesVar id="memberEntity" type="az.webapp.colorbrain.model.entity.MemberEntity"*/-->
            <form enctype="multipart/form-data" method="post" th:action="@{'/team-member/update'}"
                  th:object="${memberEntity}">
                <input name="id" th:value="${memberEntity.id}" type="hidden">
                <div th:include="/admin/layout/teamMember/teamMemberForm::updateFrom"></div>
            </form>
            <form method="post" th:action="@{'/team-member/delete'}" th:object="${memberEntity}">
                <input name="id" th:value="${memberEntity.id}" type="hidden">
                <div class="row d-flex justify-content-center">
                    <input type="submit" class="btn btn-danger text-uppercase" value="Üzvü Sİl">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>