<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container">
    <div class="main-container">
        <div class="row">
            <!--/*@thymesVar id="teamMembersEntity" type="az.webapp.colorbrain.model.entity.TeamMembersEntity"*/-->
            <form th:object="${teamMembersEntity}" th:action="@{'/teamMembers/update'}" method="post">
                <input type="hidden" name="id" th:value="${teamMembersEntity.id}">
                <div th:include="/admin/layout/teamMembers/teamMembersForm::updateFrom"></div>
            </form>
            <form th:object="${teamMembersEntity}" th:action="@{'/teamMembers/delete'}" method="post">
                <input type="hidden" name="id" th:value="${teamMembersEntity.id}">
                <div class="row d-flex justify-content-center">
                    <input type="submit" class="btn btn-danger text-uppercase"
                           th:value="${teamMembersEntity}? 'memberi sil':'memberi sİl' ">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>