<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <!-- Begin mobile main menu -->
    <nav class="mob-main-mnu">
        <div class="mob-main-mnu-content">
            <ul class="mob-main-mnu-list">
                <li><a href="index-2.html">Əsas səhifə</a></li>
                <li><a href="index-2.html">Bloq</a></li>
                <li><a href="index-2.html">Xəbərlər</a></li>
                <li><a href="index-2.html">Təlimlər</a></li>
                <li><a href="index-2.html">Layihələr</a></li>
                <li><a href="index-2.html">Media</a></li>
                <li><a href="index-2.html">Haqqımızda</a></li>
                <li><a href="index-2.html">Əlaqə</a></li>
            </ul>
        </div>
        <div class="mob-main-mnu-footer">
            <ul class="mob-main-mnu-lang">
                <li class="active">Developed By Netx</li>
            </ul>
        </div>
    </nav>
    <!-- End mobile main menu -->

    <!-- Begin header -->
    <header class="header">
        <nav class="header-fixed">
            <div class="container">
                <div class="row flex-nowrap align-items-center justify-content-between">
                    <div class="col-auto d-block d-lg-none header-fixed-col">
                        <div class="main-mnu-btn">
                            <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                            <span class="bar bar-3"></span>
                            <span class="bar bar-4"></span>
                        </div>
                    </div>
                    <div class="col-auto header-fixed-col">
                        <!-- Begin logo -->
                        <a href="index.html" class="logo logo-ico-widht-text" title="PathSoft">
                            <img class="lazy logo-ico" data-src="assets/img/logo-ico.png" width="36" height="35"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                            <span class="logo-text">PathSoft</span>
                        </a>
                    </div>
                    <div class="col-lg col-auto col-static header-fixed-col">
                        <div class="row flex-nowrap align-items-center justify-content-end">
                            <div class="col-auto header-fixed-col d-none d-lg-block col-static">
                                <!-- Begin main menu -->
                                <nav class="main-mnu">
                                    <ul class="main-mnu-list">
                                        <li class="main-mnu-item-has-child">
                                            <a href="index-2.html" data-title="Əsas səhifə">
                                                <span>Əsas səhifə</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Bloq">
                                                <span>Bloq</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Xəbərlər">
                                                <span>Xəbərlər</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Təlimlər">
                                                <span>Təlimlər</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Layihələr">
                                                <span>Layihələr</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Media">
                                                <span>Media</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Haqqımızda">
                                                <span>Haqqımızda</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Əlaqə">
                                                <span>Əlaqə</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!-- End main menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End header fixed -->
    </header>
    <!-- End header -->
</div>
</html>
