<html xmlns:th="http://www.thymeleaf.org" th:include="~{client/layout/layout.html :: layout (~{::body},'home')}">
<head>
</head>
<body>
    <!-- Begin bread crumbs -->
    <nav class="bread-crumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="bread-crumbs-list">
                        <li>
                            <a href="index-2.html">Home</a>
                            <i class="material-icons md-18">chevron_right</i>
                        </li>
                        <li><a href="#!">News</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End bread crumbs -->

    <!-- Begin main content -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading heading-center">
                        <div class="section-subheading">MORE INFO</div>
                        <h1>About us</h1>
                    </div>
                    <div class="content">
                        <div class="img-style">
                            <img src="assets/img/about-img.jpg" alt="">
                        </div>
                        <div class="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End main content -->
</body>
</html>