<html xmlns:th="http://www.thymeleaf.org" th:include="~{client/layout/layout.html :: layout (~{::body},'home')}">
<html lang="en">

<head>
</head>
<body>

    <div class="section">
        <div class="container">
            <div th:each="contact : ${contacts}" class="row content-items">
                <div class="col-12">
                    <div class="section-heading heading-center">
                        <div class="section-subheading">We are always in touch</div>
                        <h1>Contact Us</h1>
                    </div>
                </div>
                <div class="col-md-4 col-12 content-item">
                    <div th:text="${contact.getContactName()}" class="contacts-info-item item-style">

                        <div class="contacts-info-item-ico">
                            <i th:text="${contact.getContactAddress()}" class="material-icons md-60">location_on</i>
                        </div>

                        <div class="contacts-info-item-content">
                            <a th:text="${contact.getIcon()}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- End main -->

<!--<script src="assets/libs/jquery/jquery.min.js"></script>-->
<!--<script src="assets/libs/lozad/lozad.min.js"></script>-->
<!--<script src="assets/libs/device/device.js"></script>-->
<!--<script src="assets/libs/ScrollToFixed/jquery-scrolltofixed-min.js"></script>-->
<!--<script src="assets/libs/spincrement/jquery.spincrement.min.js"></script>-->
<!--<script src="assets/libs/jquery-popup-overlay-gh-pages/jquery.popupoverlay.js"></script>-->
<!--<script src="assets/libs/jquery-validation-1.19.3/jquery.validate.min.js"></script>-->
<!--<script src="assets/libs/autosize-master/autosize.min.js"></script>-->
<!--<script src="assets/libs/flickity/flickity.pkgd.min.js"></script>-->
<!--<script src="assets/libs/flickity/flickity-imagesloaded.js"></script>-->
<!--<script src="assets/libs/flickity/bg-lazyload.js"></script>-->
<!--<script src="assets/libs/flickity/flickity-fade.js"></script>-->
<!--<script src="assets/libs/isotope/isotope.pkgd.min.js"></script>-->
<!--<script src="assets/libs/lightGallery/js/picturefill.min.js"></script>-->
<!--<script src="assets/libs/lightGallery/js/lightgallery-all.min.js"></script>-->
<!--<script src="assets/libs/lightGallery/js/jquery.mousewheel.min.js"></script>-->
<!--<script src="assets/libs/jquery-ui-range/jquery-ui.min.js"></script>-->
<!--<script src="assets/js/custom.js"></script>-->
<!--<script src="assets/libs/jquery-minicolors-master/jquery.minicolors.min.js"></script>-->
<!--<script src="assets/js/settings.js"></script>-->

</body>
</html>