<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>PathSoft - IT Solution for You Business</title>

    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

    <link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/libs.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/libs/jquery-minicolors-master/jquery.minicolors.css">
    <link rel="stylesheet" href="assets/css/settings.css">
    <link rel="stylesheet" href="assets/css/ecommerce.css">
    <link rel="preload" href="assets/fonts/istok-web-v15-latin/istok-web-v15-latin-regular.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/istok-web-v15-latin/istok-web-v15-latin-700.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/montserrat-v15-latin/montserrat-v15-latin-600.woff2" as="font"
          type="font/woff2" crossorigin>

    <link rel="preload" href="assets/fonts/material-design-icons/material-design-icons.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/material-design-icons/material-design-icons-outlined.woff2" as="font"
          type="font/woff2" crossorigin>

</head>

<body>

<main class="main">

    <!-- Begin mobile main menu -->
    <nav class="mob-main-mnu">
        <div class="mob-main-mnu-content">
            <ul class="mob-main-mnu-list">
                <li><a href="index-2.html">Əsas səhifə</a></li>
                <li><a href="index-2.html">Bloq</a></li>
                <li><a href="index-2.html">Xəbərlər</a></li>
                <li><a href="index-2.html">Təlimlər</a></li>
                <li><a href="index-2.html">Layihələr</a></li>
                <li><a href="index-2.html">Media</a></li>
                <li><a href="index-2.html">Haqqımızda</a></li>
                <li><a href="index-2.html">Əlaqə</a></li>
            </ul>
        </div>
        <div class="mob-main-mnu-footer">
            <ul class="mob-main-mnu-lang">
                <li class="active">Developed By Netx</li>
            </ul>
        </div>
    </nav>
    <!-- End mobile main menu -->

    <!-- Begin header -->
    <header class="header">
        <nav class="header-fixed">
            <div class="container">
                <div class="row flex-nowrap align-items-center justify-content-between">
                    <div class="col-auto d-block d-lg-none header-fixed-col">
                        <div class="main-mnu-btn">
                            <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                            <span class="bar bar-3"></span>
                            <span class="bar bar-4"></span>
                        </div>
                    </div>
                    <div class="col-auto header-fixed-col">
                        <!-- Begin logo -->
                        <a href="index.html" class="logo logo-ico-widht-text" title="PathSoft">
                            <img class="lazy logo-ico" data-src="assets/img/logo-ico.png" width="36" height="35"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                            <span class="logo-text">PathSoft</span>
                        </a>
                    </div>
                    <div class="col-lg col-auto col-static header-fixed-col">
                        <div class="row flex-nowrap align-items-center justify-content-end">
                            <div class="col-auto header-fixed-col d-none d-lg-block col-static">
                                <!-- Begin main menu -->
                                <nav class="main-mnu">
                                    <ul class="main-mnu-list">
                                        <li class="main-mnu-item-has-child">
                                            <a href="index-2.html" data-title="Əsas səhifə">
                                                <span>Əsas səhifə</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Bloq">
                                                <span>Bloq</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Xəbərlər">
                                                <span>Xəbərlər</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Təlimlər">
                                                <span>Təlimlər</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Layihələr">
                                                <span>Layihələr</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Media">
                                                <span>Media</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Haqqımızda">
                                                <span>Haqqımızda</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Əlaqə">
                                                <span>Əlaqə</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!-- End main menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End header fixed -->
    </header>
    <!-- End header -->

    <!-- Begin bread crumbs -->
    <nav class="bread-crumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="bread-crumbs-list">
                        <li>
                            <a href="index-2.html">Home</a>
                            <i class="material-icons md-18">chevron_right</i>
                        </li>
                        <li><a href="#!">News</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End bread crumbs -->

    <!-- Begin main content -->
    <div style="padding-top: 1.5rem" class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading heading-center">
                        <div class="section-subheading">most interesting articles</div>
                        <h1>News</h1>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-1.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Catherine Williams</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-1.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Benefits Of Async/Await">Benefits Of Async/Await</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-2.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Rupert Wood</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-2.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Key Considerations Of IPaaS">Key Considerations Of
                                    IPaaS</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-3.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Samantha Brown</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-3.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Hibernate Query Language">Hibernate Query
                                    Language</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-1.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Catherine Williams</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-1.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Benefits Of Async/Await">Benefits Of Async/Await</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-2.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Rupert Wood</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-2.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Key Considerations Of IPaaS">Key Considerations Of
                                    IPaaS</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-3.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Samantha Brown</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-3.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Hibernate Query Language">Hibernate Query
                                    Language</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-1.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Catherine Williams</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-1.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Benefits Of Async/Await">Benefits Of Async/Await</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-2.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Rupert Wood</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-2.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Key Considerations Of IPaaS">Key Considerations Of
                                    IPaaS</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-lg-4 col-md-6 col-12 item">
                    <!-- Begin news item -->
                    <article class="news-item news-item-min item-style">
                        <div class="news-item-header">
                            <a href="#!" class="news-item-auth">
                                <div class="news-item-auth-img">
                                    <img data-src="assets/img/auth-img-3.jpg" class="lazy"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                </div>
                                <div class="news-item-auth-name">Samantha Brown</div>
                            </a>
                            <div class="news-item-date2">Jan 23, 2021</div>
                        </div>
                        <a href="news-post.html" class="news-item-img">
                            <img data-src="assets/img/news-img-3.jpg" class="lazy"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                        </a>
                        <div class="news-item-info">
                            <h4 class="news-item-title item-heading">
                                <a href="news-post.html" title="Hibernate Query Language">Hibernate Query
                                    Language</a>
                            </h4>
                        </div>
                    </article><!-- End news item -->
                </div>
                <div class="col-12">
                    <!-- Begin pagination -->
                    <nav class="pagination pagination-full">
                        <ul class="pagination-list">
                            <li class="pagination-item-arrow pagination-item-arrow-first pagination-item-disabled">
                                <a href="#!"><i class="material-icons md-24">first_page</i></a></li>
                            <li class="pagination-item-arrow pagination-item-arrow-prev pagination-item-disabled"><a
                                    href="#!"><i class="material-icons md-24">chevron_left</i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li><a href="#!">2</a></li>
                            <li><a href="#!">3</a></li>
                            <li><span>...</span></li>
                            <li><a href="#!">12</a></li>
                            <li><a href="#!">13</a></li>
                            <li><a href="#!">14</a></li>
                            <li class="pagination-item-arrow pagination-item-arrow-next"><a href="#!"><i
                                    class="material-icons md-24">chevron_right</i></a></li>
                            <li class="pagination-item-arrow pagination-item-arrow-last"><a href="#!"><i
                                    class="material-icons md-24">last_page</i></a></li>
                        </ul>
                    </nav><!-- End pagination -->
                </div>
            </div>
        </div>
    </div>
    <!-- End main content -->

    <!-- Begin footer -->
    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="row items">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 item">
                        <!-- Begin company info -->
                        <div class="footer-company-info">
                            <div class="footer-company-top">
                                <a href="index.html" class="logo logo-ico-widht-text" title="PathSoft">
                                    <img class="lazy logo-ico" data-src="assets/img/logo-ico.png" width="36" height="35"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                    <span class="logo-text">PathSoft</span>
                                </a>
                                <div class="footer-company-desc">
                                    <p>Our company has been developing high-quality and reliable software for corporate
                                        needs since 2008. We are renowned professionals of software development.</p>
                                </div>
                            </div>
                            <ul class="footer-social-links">
                                <li>
                                    <a href="#!" title="Facebook">
                                        <svg viewBox="0 0 320 512">
                                            <use xlink:href="assets/img/sprite.svg#facebook-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" title="Instagram">
                                        <svg viewBox="0 0 448 512">
                                            <use xlink:href="assets/img/sprite.svg#instagram-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" title="LinkedIn">
                                        <svg viewBox="0 0 448 512">
                                            <use xlink:href="assets/img/sprite.svg#linkedin-in-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" title="Twitter">
                                        <svg viewBox="0 0 512 512">
                                            <use xlink:href="assets/img/sprite.svg#twitter-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End company info -->
                    </div>
                    <div style="text-align: center" class="col-xl-4 col-lg-4 col-md-4 col-12 item">
                        <div class="footer-item">
                            <h4 class="footer-item-title">Menu</h4>
                            <nav class="footer-nav">
                                <ul class="footer-mnu">
                                    <li>
                                        <a href="about-us.html" class="hover-link"
                                           data-title="About Us"><span>About Us</span></a>
                                    </li>
                                    <li>
                                        <a href="services.html" class="hover-link"
                                           data-title="Services"><span>Services</span></a>
                                    </li>
                                    <li>
                                        <a href="pricing.html" class="hover-link"
                                           data-title="Pricing"><span>Pricing</span></a>
                                    </li>
                                    <li>
                                        <a href="news.html" class="hover-link" data-title="News"><span>News</span></a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html" class="hover-link" data-title="Contact Us"><span>Contact Us</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-4 col-lg-4 col-12 item">
                        <div class="footer-item">
                            <h4 class="footer-item-title">Our contacts</h4>
                            <ul class="footer-contacts">
                                <li>
                                    <i class="material-icons md-22">location_on</i>
                                    <div class="footer-contact-info">
                                        301 S Irving Blvd Los Angeles, CA 90020
                                    </div>
                                </li>
                                <li>
                                    <i class="material-icons md-22 footer-contact-tel">smartphone</i>
                                    <div class="footer-contact-info">
                                        <a href="#!" class="formingHrefTel">+1 323-913-4688</a>, <a href="#!"
                                                                                                    class="formingHrefTel">+1
                                        323-888-4554</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="material-icons md-22 footer-contact-email">email</i>
                                    <div class="footer-contact-info">
                                        <a href="mailto:mail@example.com">mail@example.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-between items">
                    <div class="col-md-auto col-12 item">
                        <div class="copyright">© 2021 PathSoft. All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

</main>
<!-- End main -->

<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/lozad/lozad.min.js"></script>
<script src="assets/libs/device/device.js"></script>
<script src="assets/libs/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/libs/spincrement/jquery.spincrement.min.js"></script>
<script src="assets/libs/jquery-popup-overlay-gh-pages/jquery.popupoverlay.js"></script>
<script src="assets/libs/jquery-validation-1.19.3/jquery.validate.min.js"></script>
<script src="assets/libs/autosize-master/autosize.min.js"></script>
<script src="assets/libs/flickity/flickity.pkgd.min.js"></script>
<script src="assets/libs/flickity/flickity-imagesloaded.js"></script>
<script src="assets/libs/flickity/bg-lazyload.js"></script>
<script src="assets/libs/flickity/flickity-fade.js"></script>
<script src="assets/libs/isotope/isotope.pkgd.min.js"></script>
<script src="assets/libs/lightGallery/js/picturefill.min.js"></script>
<script src="assets/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="assets/libs/lightGallery/js/jquery.mousewheel.min.js"></script>
<script src="assets/libs/jquery-ui-range/jquery-ui.min.js"></script>
<script src="assets/js/custom.js"></script>

<script src="assets/libs/jquery-minicolors-master/jquery.minicolors.min.js"></script>
<script src="assets/js/settings.js"></script>

</body>
</html>