<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>PathSoft - IT Solution for You Business</title>

    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

    <link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/libs.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/libs/jquery-minicolors-master/jquery.minicolors.css">
    <link rel="stylesheet" href="assets/css/settings.css">
    <link rel="stylesheet" href="assets/css/ecommerce.css">
    <link rel="preload" href="assets/fonts/istok-web-v15-latin/istok-web-v15-latin-regular.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/istok-web-v15-latin/istok-web-v15-latin-700.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/montserrat-v15-latin/montserrat-v15-latin-600.woff2" as="font"
          type="font/woff2" crossorigin>

    <link rel="preload" href="assets/fonts/material-design-icons/material-design-icons.woff2" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="assets/fonts/material-design-icons/material-design-icons-outlined.woff2" as="font"
          type="font/woff2" crossorigin>

</head>

<body>

<main class="main">

    <!-- Begin mobile main menu -->
    <nav class="mob-main-mnu">
        <div class="mob-main-mnu-content">
            <ul class="mob-main-mnu-list">
                <li><a href="index-2.html">Əsas səhifə</a></li>
                <li><a href="index-2.html">Bloq</a></li>
                <li><a href="index-2.html">Xəbərlər</a></li>
                <li><a href="index-2.html">Təlimlər</a></li>
                <li><a href="index-2.html">Layihələr</a></li>
                <li><a href="index-2.html">Media</a></li>
                <li><a href="index-2.html">Haqqımızda</a></li>
                <li><a href="index-2.html">Əlaqə</a></li>
            </ul>
        </div>
        <div class="mob-main-mnu-footer">
            <ul class="mob-main-mnu-lang">
                <li class="active">Developed By Netx</li>
            </ul>
        </div>
    </nav>
    <!-- End mobile main menu -->

    <!-- Begin header -->
    <header class="header">
        <nav class="header-fixed">
            <div class="container">
                <div class="row flex-nowrap align-items-center justify-content-between">
                    <div class="col-auto d-block d-lg-none header-fixed-col">
                        <div class="main-mnu-btn">
                            <span class="bar bar-1"></span>
                            <span class="bar bar-2"></span>
                            <span class="bar bar-3"></span>
                            <span class="bar bar-4"></span>
                        </div>
                    </div>
                    <div class="col-auto header-fixed-col">
                        <!-- Begin logo -->
                        <a href="index.html" class="logo logo-ico-widht-text" title="PathSoft">
                            <img class="lazy logo-ico" data-src="assets/img/logo-ico.png" width="36" height="35"
                                 src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                 alt="">
                            <span class="logo-text">PathSoft</span>
                        </a>
                    </div>
                    <div class="col-lg col-auto col-static header-fixed-col">
                        <div class="row flex-nowrap align-items-center justify-content-end">
                            <div class="col-auto header-fixed-col d-none d-lg-block col-static">
                                <!-- Begin main menu -->
                                <nav class="main-mnu">
                                    <ul class="main-mnu-list">
                                        <li class="main-mnu-item-has-child">
                                            <a href="index-2.html" data-title="Əsas səhifə">
                                                <span>Əsas səhifə</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Bloq">
                                                <span>Bloq</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Xəbərlər">
                                                <span>Xəbərlər</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Təlimlər">
                                                <span>Təlimlər</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Layihələr">
                                                <span>Layihələr</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Media">
                                                <span>Media</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Haqqımızda">
                                                <span>Haqqımızda</span>
                                            </a>
                                        </li>
                                        <li class="main-mnu-item-has-child">
                                            <a href="services.html" data-title="Əlaqə">
                                                <span>Əlaqə</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!-- End main menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End header fixed -->
    </header>
    <!-- End header -->

    <!-- Begin bread crumbs -->
    <nav class="bread-crumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="bread-crumbs-list">
                        <li>
                            <a href="index-2.html">Home</a>
                            <i class="material-icons md-18">chevron_right</i>
                        </li>
                        <li><a href="#!">News</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End bread crumbs -->

    <div class="section section-single-product">
        <div class="container">
            <div class="row">
                <div class="col-12 d-lg-none">
                    <div class="section-heading card-page-heading">
                        <h1>Training Header</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-carusel">
                        <div class="img-style product-carusel-main flickity-enabled is-draggable" tabindex="0">
                            <div class="card-badges">
                                <div class="card-badge card-badge-sale">sale</div>
                            </div>
                            <div class="flickity-viewport" style="height: 538px; touch-action: pan-y;">
                                <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
                                    <div class="card-image pcm-item is-selected" style="position: absolute; left: 0%;">
                                        <img src="assets/img/shop/nikon.jpg" alt="">
                                    </div>
                                    <div class="card-image pcm-item" style="position: absolute; left: 100%;"
                                         aria-hidden="true">
                                        <img src="assets/img/shop/nikon2.jpg" alt="" class="flickity-lazyloaded">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-info"
                         style="display: inline !important; flex-direction: unset !important; margin-bottom: 0 !important; min-height: 0 !important;">
                        <div class="product-info-main">
                            <div class="d-none d-lg-block">
                                <div class="section-heading card-page-heading">
                                    <h1>Training Header</h1>
                                </div>
                            </div>
                            <div class="card-prices card-page-prices cp-item">
                                <div class="card-price">10AZN</div>
                            </div>
                        </div>
                        <footer style="display: inline !important; flex-direction: unset !important; margin-bottom: 0 !important; min-height: 0 !important;"
                                class="product-info">
                            <ul class="list-style-none card-page-meta">
                                <li>
                                    <b>Son qeydiyyat tarixi:</b>
                                    <div><a href="#!">01.01.2020</a></div>
                                </li>
                                <li>
                                    <b>Tarix</b>
                                    <div><a href="#!">01.10.2020</a></div>
                                </li>
                                <li>
                                    <b>Saat:</b>
                                    <div><a href="#!">15:00</a></div>
                                </li>
                                <li>
                                    <b>Təlimçi:</b>
                                    <div><a href="#!">Test Testov</a></div>
                                </li>
                            </ul>
                        </footer>
                        <form style="margin-top: 1rem;" class="cp-item" action="#!" method="post"
                              enctype="multipart/form-data">
                            <button type="submit" name="add-to-cart" class="btn btn-wide btn-with-icon">
                                <i class="material-icons material-icons-outlined btn-icon-left md-22">shopping_cart</i>
                                <span>Buy product</span>
                                <span class="el-ripple-circle" style="left: 57.4px; top: 52.4px;"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tabs" id="product-tabs">
                        <div class="tabs-container">
                            <div style="padding-top: 0 !important;" class="tabs-item content active">
                                <p>Ex eius quo recusandae quia voluptatem eius tempore. Provident dolores ut enim
                                    explicabo magnam magnam dolor. Sit delectus qui sed et dolorem ex dolorem. Qui
                                    corrupti et nam quaerat doloremque et. Repellendus culpa minus debitis rerum. Velit
                                    ut odit sint sequi dolorum et doloribus. Ut ad ea harum quas adipisci. Nihil id
                                    assumenda aut harum quasi id. Iusto animi aspernatur voluptas exercitationem et
                                    consequatur ipsum. Et enim dolorum corrupti in est. Reiciendis ullam corporis
                                    perspiciatis libero fuga. Repudiandae totam vel ut quia porro cumque.</p>
                                <p>Aut similique non qui est. Et fuga doloremque harum consequatur illo facere.
                                    Molestiae voluptatem repudiandae iure inventore quidem nesciunt sint. Labore magnam
                                    magnam omnis. Quo corporis voluptatem et magnam. Quia ex laboriosam qui quasi
                                    praesentium libero est. Excepturi odit occaecati temporibus laborum rerum illum. Vel
                                    et mollitia dolor aliquam dolorem eaque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutters-20 related-products-row">
                <div class="col-12">
                    <h4>Related products</h4>
                </div>
                <div class="col-lg-4 col-sm-6 card-item">
                    <!-- Begin card -->
                    <div class="item-style card">
                        <header class="card-header">
                            <a href="product-single.html" class="card-image">
                                <img data-src="assets/img/shop/s-img1-d.jpg" class="lazy"
                                     src="assets/img/shop/s-img1-d.jpg" alt="" data-loaded="true">
                            </a>
                            <div class="card-actions">
                                <button class="card-action-btn el-ripple card-action-wishlist">
                                    <i class="material-icons md-22">favorite_border</i>
                                    <span class="el-ripple-circle"></span></button>
                                <button class="card-action-btn el-ripple card-action-compare">
                                    <i class="material-icons md-22">compare_arrows</i>
                                    <span class="el-ripple-circle"></span></button>
                                <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open"
                                        data-popup-ordinal="0" id="open_88062064">
                                    <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    <span class="el-ripple-circle"></span></button>
                            </div>
                            <div class="card-badges">
                                <div class="card-badge card-badge-sale">sale</div>
                            </div>
                        </header>
                        <div class="card-info">
                            <ul class="list-style-none card-rating">
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                            </ul>
                            <div class="card-posted-in">
                                <a href="#!" class="card-category" title="Food &amp; Grocery">Food &amp; Grocery</a>
                            </div>
                            <h3 class="item-heading card-title">
                                <a href="product-single.html" title="Green seedless grapes">Green seedless grapes</a>
                            </h3>
                            <div class="card-prices">
                                <div class="card-price">$16.50</div>
                            </div>
                        </div>
                        <footer class="card-footer card-footer-abs">
                            <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart"
                               rel="nofollow">
                                <span>Add to cart</span>
                                <span class="el-ripple-circle"></span></a>
                        </footer>
                    </div><!-- End card -->
                </div>
                <div class="col-lg-4 col-sm-6 card-item">
                    <!-- Begin card -->
                    <div class="item-style card">
                        <header class="card-header">
                            <a href="product-single.html" class="card-image">
                                <img data-src="assets/img/shop/s-img1-e.jpg" class="lazy"
                                     src="assets/img/shop/s-img1-e.jpg" alt="" data-loaded="true">
                            </a>
                            <div class="card-actions">
                                <button class="card-action-btn el-ripple card-action-wishlist">
                                    <i class="material-icons md-22">favorite_border</i>
                                    <span class="el-ripple-circle"></span></button>
                                <button class="card-action-btn el-ripple card-action-compare">
                                    <i class="material-icons md-22">compare_arrows</i>
                                    <span class="el-ripple-circle" style="left: -10.35px; top: 50.7px;"></span></button>
                                <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open"
                                        data-popup-ordinal="1" id="open_62979577">
                                    <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    <span class="el-ripple-circle"></span></button>
                            </div>
                        </header>
                        <div class="card-info">
                            <ul class="list-style-none card-rating">
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                            </ul>
                            <div class="card-posted-in">
                                <a href="#!" class="card-category" title="Electronics &amp; Computers">Electronics &amp;
                                    Computers</a>
                            </div>
                            <h3 class="item-heading card-title">
                                <a href="product-single.html" title="Nikon AF-P DX Nikkor">Nikon AF-P DX Nikkor</a>
                            </h3>
                            <div class="card-prices">
                                <div class="card-price">$187.26</div>
                            </div>
                        </div>
                        <footer class="card-footer card-footer-abs">
                            <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart"
                               rel="nofollow">
                                <span>Add to cart</span>
                                <span class="el-ripple-circle"></span></a>
                        </footer>
                    </div><!-- End card -->
                </div>
                <div class="col-lg-4 col-sm-6 card-item">
                    <!-- Begin card -->
                    <div class="item-style card">
                        <header class="card-header">
                            <a href="product-single.html" class="card-image">
                                <img data-src="assets/img/shop/s-img1-b.jpg" class="lazy"
                                     src="assets/img/shop/s-img1-b.jpg" alt="" data-loaded="true">
                            </a>
                            <div class="card-actions">
                                <button class="card-action-btn el-ripple card-action-wishlist">
                                    <i class="material-icons md-22">favorite_border</i>
                                    <span class="el-ripple-circle"></span></button>
                                <button class="card-action-btn el-ripple card-action-compare">
                                    <i class="material-icons md-22">compare_arrows</i>
                                    <span class="el-ripple-circle"></span></button>
                                <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open"
                                        data-popup-ordinal="2" id="open_35953260">
                                    <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    <span class="el-ripple-circle"></span></button>
                            </div>
                            <div class="card-badges">
                                <div class="card-badge card-badge-new">new</div>
                            </div>
                        </header>
                        <div class="card-info">
                            <ul class="list-style-none card-rating">
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                                <li><i class="material-icons md-18">star</i></li>
                            </ul>
                            <div class="card-posted-in">
                                <a href="#!" class="card-category" title="Beauty &amp; Health">Beauty &amp; Health</a>
                            </div>
                            <h3 class="item-heading card-title">
                                <a href="product-single.html" title="8th Muse">8th Muse</a>
                            </h3>
                            <div class="card-prices">
                                <div class="card-price">$43.00</div>
                            </div>
                        </div>
                        <footer class="card-footer card-footer-abs">
                            <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart"
                               rel="nofollow">
                                <span>Add to cart</span>
                                <span class="el-ripple-circle"></span></a>
                        </footer>
                    </div><!-- End card -->
                </div>
            </div>
            <div class="row gutters-20 related-products-row news-nav justify-content-center">
                <div class="item">
                    <div class="news-nav justify-content-center">
                        <a href="#!" class="btn ripple btn-w240"><span>Load More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin footer -->
    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="row items">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 item">
                        <!-- Begin company info -->
                        <div class="footer-company-info">
                            <div class="footer-company-top">
                                <a href="index.html" class="logo logo-ico-widht-text" title="PathSoft">
                                    <img class="lazy logo-ico" data-src="assets/img/logo-ico.png" width="36" height="35"
                                         src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                    <span class="logo-text">PathSoft</span>
                                </a>
                                <div class="footer-company-desc">
                                    <p>Our company has been developing high-quality and reliable software for corporate
                                        needs since 2008. We are renowned professionals of software development.</p>
                                </div>
                            </div>
                            <ul class="footer-social-links">
                                <li>
                                    <a href="#!" title="Facebook">
                                        <svg viewBox="0 0 320 512">
                                            <use xlink:href="assets/img/sprite.svg#facebook-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" title="Instagram">
                                        <svg viewBox="0 0 448 512">
                                            <use xlink:href="assets/img/sprite.svg#instagram-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" title="LinkedIn">
                                        <svg viewBox="0 0 448 512">
                                            <use xlink:href="assets/img/sprite.svg#linkedin-in-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" title="Twitter">
                                        <svg viewBox="0 0 512 512">
                                            <use xlink:href="assets/img/sprite.svg#twitter-ico"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End company info -->
                    </div>
                    <div style="text-align: center" class="col-xl-4 col-lg-4 col-md-4 col-12 item">
                        <div class="footer-item">
                            <h4 class="footer-item-title">Menu</h4>
                            <nav class="footer-nav">
                                <ul class="footer-mnu">
                                    <li>
                                        <a href="about-us.html" class="hover-link"
                                           data-title="About Us"><span>About Us</span></a>
                                    </li>
                                    <li>
                                        <a href="services.html" class="hover-link"
                                           data-title="Services"><span>Services</span></a>
                                    </li>
                                    <li>
                                        <a href="pricing.html" class="hover-link"
                                           data-title="Pricing"><span>Pricing</span></a>
                                    </li>
                                    <li>
                                        <a href="news.html" class="hover-link" data-title="News"><span>News</span></a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html" class="hover-link" data-title="Contact Us"><span>Contact Us</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-4 col-lg-4 col-12 item">
                        <div class="footer-item">
                            <h4 class="footer-item-title">Our contacts</h4>
                            <ul class="footer-contacts">
                                <li>
                                    <i class="material-icons md-22">location_on</i>
                                    <div class="footer-contact-info">
                                        301 S Irving Blvd Los Angeles, CA 90020
                                    </div>
                                </li>
                                <li>
                                    <i class="material-icons md-22 footer-contact-tel">smartphone</i>
                                    <div class="footer-contact-info">
                                        <a href="#!" class="formingHrefTel">+1 323-913-4688</a>, <a href="#!"
                                                                                                    class="formingHrefTel">+1
                                        323-888-4554</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="material-icons md-22 footer-contact-email">email</i>
                                    <div class="footer-contact-info">
                                        <a href="mailto:mail@example.com">mail@example.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-between items">
                    <div class="col-md-auto col-12 item">
                        <div class="copyright">© 2021 PathSoft. All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

</main>
<!-- End main -->

<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/lozad/lozad.min.js"></script>
<script src="assets/libs/device/device.js"></script>
<script src="assets/libs/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/libs/spincrement/jquery.spincrement.min.js"></script>
<script src="assets/libs/jquery-popup-overlay-gh-pages/jquery.popupoverlay.js"></script>
<script src="assets/libs/jquery-validation-1.19.3/jquery.validate.min.js"></script>
<script src="assets/libs/autosize-master/autosize.min.js"></script>
<script src="assets/libs/flickity/flickity.pkgd.min.js"></script>
<script src="assets/libs/flickity/flickity-imagesloaded.js"></script>
<script src="assets/libs/flickity/bg-lazyload.js"></script>
<script src="assets/libs/flickity/flickity-fade.js"></script>
<script src="assets/libs/isotope/isotope.pkgd.min.js"></script>
<script src="assets/libs/lightGallery/js/picturefill.min.js"></script>
<script src="assets/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="assets/libs/lightGallery/js/jquery.mousewheel.min.js"></script>
<script src="assets/libs/jquery-ui-range/jquery-ui.min.js"></script>
<script src="assets/js/custom.js"></script>

<script src="assets/libs/jquery-minicolors-master/jquery.minicolors.min.js"></script>
<script src="assets/js/settings.js"></script>

</body>
</html>