<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="updateForm">
    <div class="row">
        <div class="mb-3 col-6">
            <label for="headerLabel" class="form-label text-uppercase">Başlıq</label>
            <p style="display: inline" th:if="${#fields.hasErrors('header')}" class="text-danger fw-bolder"
               th:errors="*{header}"></p>
            <input th:value="${projectEntity.header}" th:disabled="${!projectEntity.status}" name="header" type="text"
                   class="form-control" id="headerLabel">
        </div>
        <div class="mb-3 col-4">
            <label for="startDayLabel" class="form-label text-uppercase">Başlama Tarİxİ</label>
            <p style="display: inline" th:if="${#fields.hasErrors('startDate')}" class="text-danger fw-bolder"
               th:errors="*{startDate}"></p>
            <input th:value="${projectEntity.startDate}" th:disabled="${!projectEntity.status}" name="startDate"
                   type="date" class="form-control"
                   id="startDayLabel">
        </div>
        <div class="mb-3 col-4">
            <label for="endDayLabel" class="form-label text-uppercase">Bitmə Tarİxİ</label>
            <p style="display: inline" th:if="${#fields.hasErrors('endDate')}" class="text-danger fw-bolder"
               th:errors="*{endDate}"></p>
            <input th:value="${projectEntity.endDate}" th:disabled="${!projectEntity.status}" name="endDate"
                   type="date" class="form-control"
                   id="endDayLabel">
        </div>
        <div class="row">
            <div class="col-12">
                <label for="editor" class="form-label text-uppercase">Məlumat</label>
                <p style="display: inline" th:if="${#fields.hasErrors('context')}" class="text-danger fw-bolder"
                   th:errors="*{context}"></p>
                <textarea th:text="${projectEntity.context}" th:disabled="${!projectEntity.status}" name="context"
                          class="form-control" id="editor"
                          rows="3"></textarea>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="mb-3 col-4 text-center">
                <label style="margin: 0" for="createdAtLabel" class="form-label text-uppercase">Created
                    At</label>
                <input th:value="${projectEntity.createdAt}" name="createdAt" type="text" disabled class="form-control"
                       id="createdAtLabel">
            </div>
            <div class="mb-3 col-4 text-center">
                <label style="margin: 0" for="updatedAtLabel" class="form-label text-uppercase">Updated
                    At</label>
                <input th:value="${projectEntity.updatedAt}" name="updatedAt" type="text" disabled class="form-control"
                       id="updatedAtLabel">
            </div>
        </div>
        <div>
            <div th:if="${projectEntity.status}" class="row d-flex justify-content-center">
                <div class="mb-3 col-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input text-uppercase" name="status"
                               th:checked="${projectEntity.status}"
                               type="checkbox" id="flexSwitchCheckDefault2">
                        <label class="form-check-label text-uppercase" for="flexSwitchCheckDefault2">Status</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-success text-uppercase" value="Dəyİşİklİyİ Yadda Saxla">
            </div>
        </div>
    </div>
</div>

<div th:fragment="createForm">
    <div class="row">
        <div class="mb-3 col-6">
            <label for="headerLabel" class="form-label text-uppercase">Başlıq</label>
            <p style="display: inline" th:if="${#fields.hasErrors('header')}" class="text-danger fw-bolder"
               th:errors="*{header}"></p>
            <input th:field="*{header}" name="header" type="text" class="form-control" id="headerLabel">
        </div>
        <div class="mb-3 col-4">
            <label for="startDayLabel" class="form-label text-uppercase">Başlama Tarİxİ</label>
            <p style="display: inline" th:if="${#fields.hasErrors('startDate')}" class="text-danger fw-bolder"
               th:errors="*{startDate}"></p>
            <input name="startDate" type="date" class="form-control" id="startDayLabel">
        </div>
        <div class="mb-3 col-4">
            <label for="endDayLabel" class="form-label text-uppercase">Bitmə Tarİxİ</label>
            <p style="display: inline" th:if="${#fields.hasErrors('endDate')}" class="text-danger fw-bolder"
               th:errors="*{endDate}"></p>
            <input name="endDate" type="date" class="form-control" id="endDayLabel">
        </div>
        <div class="row main-card-row-container">
            <div class="col-12">
                <label for="editor" class="form-label text-uppercase">Məlumat</label>
                <p style="display: inline" th:if="${#fields.hasErrors('context')}" class="text-danger fw-bolder"
                   th:errors="*{context}"></p>
                <textarea th:field="*{context}" name="context" class="form-control" id="editor"
                          rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed text-uppercase" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Başlıq şəkili
                            <p style="display: inline" th:if="${#fields.hasErrors('coverImage')}"
                               class="text-danger fw-bolder"
                               th:errors="*{coverImage}"></p>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="main-container">
                            <label for="formFileLg" class="form-label text-uppercase">Layihənin başlıq şəkilini
                                seçin</label>
                            <input th:field="*{coverImage}" name="coverImage" class="form-control form-control-lg"
                                   id="formFileLg" type="file">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed text-uppercase" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                            Əlavə fayllar
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFlushExample">
                        <div class="main-container">
                            <label for="formFileLg" class="form-label text-uppercase">Layihənin digər fayllarını
                                seçin</label>
                            <input name="files" multiple class="form-control form-control-lg" id="formFileLg"
                                   type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="mb-3 col-3 text-center">
                    <label style="margin: 0" for="createdAtLabel" class="form-label text-uppercase">Created
                        At</label>
                    <input name="createdAt" type="text" disabled class="form-control"
                           id="createdAtLabel">
                </div>
                <div class="mb-3 col-3 text-center">
                    <label style="margin: 0" for="updatedAtLabel" class="form-label text-uppercase">Updated
                        At</label>
                    <input name="updatedAt" type="text" disabled class="form-control"
                           id="updatedAtLabel">
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <div class="form-check form-switch">
                    <input class="form-check-input text-uppercase" checked disabled name="status"
                           type="checkbox" id="flexSwitchCheckDefault2">
                    <label class="form-check-label text-uppercase" for="flexSwitchCheckDefault2">Status</label>
                </div>
            </div>
            <input type="submit" class="btn btn-success text-uppercase" value="Yadda Saxla">
        </div>
    </div>
</div>
</html>
