<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="updateForm">
    <div class="row">
        <!--/*@thymesVar id="modelEntity" type="az.webapp.colorbrain.model.entity.MediaEntity"*/-->
        <div class="mb-3 col-6">
            <label for="headerLabel" class="form-label text-uppercase">Başlıq</label>
            <p style="display: inline" th:if="${#fields.hasErrors('header')}" class="text-danger fw-bolder"
               th:errors="*{header}"></p>
            <input th:value="${mediaEntity.header}" name="header" type="text" class="form-control" id="headerLabel">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="mb-3 col-4 text-center">
            <label style="margin: 0" for="createdAtLabel" class="form-label text-uppercase">Created
                At</label>
            <p style="display: inline" th:if="${#fields.hasErrors('createdAt')}" class="text-danger fw-bolder"
               th:errors="*{createdAt}"></p>
            <input th:value="${mediaEntity.createdAt}" name="createdAt" type="text" disabled class="form-control"
                   id="createdAtLabel">
        </div>
        <div class="mb-3 col-4 text-center">
            <label style="margin: 0" for="updatedAtLabel" class="form-label text-uppercase">Updated
                At</label>
            <p style="display: inline" th:if="${#fields.hasErrors('updatedAt')}" class="text-danger fw-bolder"
               th:errors="*{updatedAt}"></p>
            <input th:value="${mediaEntity.updatedAt}" name="updatedAt" type="text" disabled class="form-control"
                   id="updatedAtLabel">
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-success text-uppercase" value="Dəyİşİklİyİ Yadda Saxla">
    </div>
</div>

<div th:fragment="createForm">
    <div class="row">
        <!--/*@thymesVar id="modelEntity" type="az.webapp.colorbrain.model.entity.MediaEntity"*/-->
        <div class="mb-3 col-6">
            <label for="headerLabel" class="form-label text-uppercase">Başlıq</label>
            <p style="display: inline" th:if="${#fields.hasErrors('header')}" class="text-danger fw-bolder"
               th:errors="*{header}"></p>
            <input name="header" type="text" class="form-control" id="headerLabel">
        </div>
    </div>
    <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Başlıq Şəkili
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="container-fluid mb-3 mt-2">
                        <label for="formFileLg" class="form-label">Paylaşımın başlıq şəklini seçin</label>
                        <input name="coverImage" class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Əlavə Fayllar
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="container-fluid mb-3 mt-2">
                        <label for="formFileLg" class="form-label">Paylaşımın digər fayllarını seçin</label>
                        <input name="files" multiple class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="mb-3 col-3 text-center">
            <label style="margin: 0" for="createdAtLabel" class="form-label text-uppercase">Created
                At</label>
            <input name="createdAt" type="text" disabled class="form-control"
                   id="createdAtLabel">
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-success text-uppercase" value="Yadda Saxla">
    </div>
</div>

</html>