<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="updateForm">
    <label for="contactNameLabel" class="form-label">Contact Name</label>
    <!--/*@thymesVar id="contact" type="az.webapp.colorbrain.model.entity.ContactEntity"*/-->
    <input type="text" class="form-control" id="contactNameLabel"
           th:value="${contact.getContactName()}" name="contactName">
    <label for="contactNameLabel" class="form-label">Contact Address</label>
    <input type="text" class="form-control" id="contactAddressLabel"
           th:value="${contact.getContactAddress()}" name="contactAddress">
    <label for="iconLabel" class="form-label">Icon</label>
    <input type="text" class="form-control" id="iconLabel"
           th:value="${contact.getIcon()}" name="icon">
    <button type="submit" class="btn btn-primary mt-3">Dəyişikliyi yadda saxla</button>
</div>

<div th:fragment="createForm">
    <label for="contactNameLabel" class="form-label">Contact Name</label>
    <p style="display:inline" th:if="${#fields.hasErrors('contactName')}" class="text-danger fw-bolder"
       th:errors="*{contactName}">Email error</p>
    <input th:field="*{contactName}" name="contactName" placeholder="Əlaqənin adını daxil edin" type="text"
           class="form-control" id="contactNameLabel">
    <label for="contactAddressLabel" class="form-label">Contact Address</label>
    <p style="display:inline" th:if="${#fields.hasErrors('contactAddress')}" class="text-danger fw-bolder"
       th:errors="*{contactAddress}">Email error</p>
    <input th:field="*{contactAddress}" name="contactAddress" placeholder="Əlaqənin adresini daxil edin" type="text"
           class="form-control" id="contactAddressLabel">
    <label for="iconLabel" class="form-label">Icon</label>
    <p style="display:inline" th:if="${#fields.hasErrors('icon')}" class="text-danger fw-bolder"
       th:errors="*{icon}">Email error</p>
    <input th:field="*{icon}" name="icon" placeholder="İconu daxil edin" type="text"
           class="form-control" id="iconLabel">
    <button type="submit" class="btn btn-primary mt-3">Yadda saxla</button>
</div>
</html>